upstream backend {
  server localhost:8000;
}

upstream s3 {
  server localhost:9000;
}

upstream frontend {
  server localhost:8080;
}

server {
  listen 10000 default_server;
  listen [::]:10000 default_server;

  root /usr/share/nginx/html;

  index index.html index.htm index.nginx-debian.html;

  server_name _;
  client_max_body_size 30M;

  location /api {
    proxy_set_header Host              $host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host  $host;
    proxy_set_header X-Forwarded-Port  $server_port;

    proxy_pass http://backend;
  }

  location /media {
    proxy_set_header Host              $host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host  $host;
    proxy_set_header X-Forwarded-Port  $server_port;

    proxy_pass http://s3/image-search/media;
  }

  location / {
    proxy_set_header Host              $host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host  $host;
    proxy_set_header X-Forwarded-Port  $server_port;

    proxy_pass http://frontend;
  }
}

